<div class="row">
  <div class="col-12 text-center mb-3">
    <a *ngIf="operation !== 'edit'" class="btn btn-outline-info m-1"
       [routerLink]="['/farmer', 'edit']">Modification</a>
    <a *ngIf="operation !== 'create'" class="btn btn-outline-success m-1"
       [routerLink]="['/farmer', 'create']">Création</a>
  </div>

  <form #f="ngForm" (ngSubmit)="setCurrentFarmer(f.value)" *ngIf="operation === 'edit'">
    <div class="form-group">
      <label for="inputState1">Agriculteur à modifier :</label>
      <select id="inputState1" class="form-control" name="farmerId" [ngModel]="farmerId">
        <option *ngFor="let f of farmerService.farmers" [ngValue]="f.id">{{f.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Choisir</button>
  </form>
</div>


<div *ngIf="farmer" class="row mt-3">
  <div class="col-md-6 offset-md-3" *ngIf="operation === 'edit' && farmerId">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Modification d'un agriculteur</h5>
        <form #f="ngForm" (ngSubmit)="onSubmitEditCategory(f.value)">

          <div *ngIf="error != null" class="alert alert-danger">
            <span>{{error | translate}}</span>
          </div>

          <div *ngIf="errors != null" class="alert alert-danger">
            <p class="p-1 m-0" *ngFor="let err of errors">{{err.message | translate}}</p>
          </div>

          <div *ngIf="success" class="alert alert-success">
            <span>{{success}}</span>
          </div>

          <div class="form-group">
            <label>Nom de l'agriculteur : </label>
            <input type="text" required class="form-control" [ngModel]="farmer.name" name="name">
          </div>
          <div class="form-group">
            <label>Adresse de l'agriculteur : </label>
            <input type="text" required class="form-control" [ngModel]="farmer.location" name="location">
          </div>
          <div class="form-group">
            <label>Téléphone de l'agriculteur : </label>
            <input type="text" required class="form-control" [ngModel]="farmer.phone" name="phone">
          </div>
          <button class="btn btn-primary mt-2" type="submit">Modifier</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 offset-md-3" *ngIf="operation === 'create'">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Création d'un agriculteur</h5>
        <form #f="ngForm" (ngSubmit)="onSubmitCreateCategory(f.value)">

          <div *ngIf="error != null" class="alert alert-danger">
            <span>{{error | translate}}</span>
          </div>

          <div *ngIf="errors != null" class="alert alert-danger">
            <p class="p-1 m-0" *ngFor="let err of errors">{{err.message | translate}}</p>
          </div>

          <div *ngIf="success" class="alert alert-success">
            <span>{{success}}</span>
          </div>

          <div class="form-group">
            <label>Nom de l'agriculteur : </label>
            <input type="text" required class="form-control" [ngModel]="farmer.name" name="name">
          </div>
          <div class="form-group">
            <label>Adresse de l'agriculteur : </label>
            <input type="text" required class="form-control" [ngModel]="farmer.location" name="location">
          </div>
          <div class="form-group">
            <label>Téléphone de l'agriculteur : </label>
            <input type="text" required class="form-control" [ngModel]="farmer.phone" name="phone">
          </div>
          <button [disabled]="f.invalid" class="btn btn-primary mt-2" type="submit">Créer</button>
        </form>
      </div>
    </div>
  </div>

</div>
