<div class="row" *ngIf="authService.isAuth() && authService.isAdmin()">
  <div class="col-12 text-center mb-3">
    <a *ngIf="operation !== 'edit' && productId" class="btn btn-outline-info m-1" [routerLink]="['/product', 'edit', productId]">Modification</a>
    <a *ngIf="operation !== 'details' && productId" class="btn btn-outline-primary m-1"
       [routerLink]="['/product', 'details', productId]">Détails</a>
    <a *ngIf="operation !== 'create'" class="btn btn-outline-success m-1"
       [routerLink]="['/product', 'create']">Création</a>
  </div>
</div>

<div *ngIf="product" class="row">
  <div class="col-md-6" *ngIf="operation === 'edit'">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Modification du produit</h5>
        <form #f="ngForm" (ngSubmit)="onSubmitEditProduct(f.value)">

          <div *ngIf="error != null" class="alert alert-danger">
            <span>{{error | translate}}</span>
          </div>

          <div *ngIf="errors != null" class="alert alert-danger">
            <p class="p-1 m-0" *ngFor="let err of errors">{{err.message | translate}}</p>
          </div>

          <div *ngIf="success" class="alert alert-success">
            <span>{{success}}</span>
          </div>

          <div class="form-group">
            <label>Nom du produit : </label>
            <input type="text" required class="form-control" [ngModel]="product.name" name="name">
          </div>

          <div class="form-group">
            <label for="Textarea1">Description du produit : </label>
            <textarea class="form-control" [ngModel]="product.description" name="description" id="Textarea"
                      rows="3"></textarea>
          </div>

          <div class="form-group">
            <label>Prix du produit : </label>
            <input type="number" required class="form-control" [ngModel]="product.price" name="price">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" required class="form-check-input" [ngModel]="product.promotion" name="promotion">
            <label class="form-check-label">Produit en promotion </label>
          </div>

          <div class="form-group">
            <label>Ancien prix : </label>
            <input type="number" required class="form-control" [ngModel]="product.oldPrice" name="oldPrice">
          </div>

          <div class="form-group">
            <label>Stock du produit : </label>
            <input type="number" required class="form-control" [ngModel]="product.quantity" name="quantity">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" required class="form-check-input" [ngModel]="product.available" name="available">
            <label class="form-check-label">Produit disponible </label>
          </div>

          <div class="form-group">
            <label>Capacité du produit : </label>
            <input type="number" required class="form-control" [ngModel]="product.capacity" name="capacity">
          </div>

          <div class="form-group">
            <label for="inputState">Unité de mesure du produit :</label>
            <select id="inputState" class="form-control" name="measure" [ngModel]="product.measure">
              <option *ngFor="let m of measureService.measures" [ngValue]="m"
                      [selected]="m === product.measure">{{m}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="inputState1">Catégorie du produit :</label>
            <select id="inputState1" class="form-control" name="category" [ngModel]="product.category">
              <option *ngFor="let c of categoryService.categories" [ngValue]="c">{{c.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="inputState2">Agriculteur du produit :</label>
            <select id="inputState2" class="form-control" name="farmer" [ngModel]="product.farmer">
              <option *ngFor="let f of farmerService.farmers" [ngValue]="f">{{f.name}}</option>
            </select>
          </div>

          <button class="btn btn-primary mt-2" type="submit">Modifier</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 offset-3" *ngIf="operation === 'create'">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Création d'un produit</h5>
        <form #f="ngForm" (ngSubmit)="onSubmitCreateProduct(f.value)">

          <div *ngIf="error != null" class="alert alert-danger">
            <span>{{error | translate}}</span>
          </div>

          <div *ngIf="success" class="alert alert-success">
            <span>{{success | translate}}</span>
          </div>

          <div *ngIf="errors != null" class="alert alert-danger">
            <p class="p-1 m-0" *ngFor="let err of errors">{{err.message}}</p>
          </div>

          <div class="form-group">
            <label>Nom du produit : </label>
            <input type="text" required class="form-control" [ngModel]="product.name" name="name">
          </div>

          <div class="form-group">
            <label for="Textarea1">Description du produit : </label>
            <textarea class="form-control" [ngModel]="product.description" name="description" id="Textarea1"
                      rows="3"></textarea>
          </div>

          <div class="form-group">
            <label>Prix du produit : </label>
            <input type="number" required class="form-control" [ngModel]="product.price" name="price">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" required class="form-check-input" [ngModel]="product.promotion" name="promotion">
            <label class="form-check-label">Produit en promotion </label>
          </div>

          <div class="form-group">
            <label>Ancien prix : </label>
            <input type="number" required class="form-control" [ngModel]="product.oldPrice" name="oldPrice">
          </div>

          <div class="form-group">
            <label>Stock du produit : </label>
            <input type="number" required class="form-control" [ngModel]="product.quantity" name="quantity">
          </div>

          <div class="form-group form-check">
            <input type="checkbox" required class="form-check-input" [ngModel]="product.available" name="available">
            <label class="form-check-label">Produit disponible </label>
          </div>

          <div class="form-group">
            <label>Capacité du produit : </label>
            <input type="number" required class="form-control" [ngModel]="product.capacity" name="capacity">
          </div>

          <div class="form-group">
            <label for="input">Unité de mesure du produit :</label>
            <select id="input" class="form-control" name="measure" [ngModel]="product.measure">
              <option *ngFor="let m of measureService.measures" [ngValue]="m"
                      [selected]="m === product.measure">{{m}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="input1">Catégorie du produit :</label>
            <select id="input1" class="form-control" name="category" [ngModel]="product.category">
              <option *ngFor="let c of categoryService.categories" [ngValue]="c">{{c.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="input2">Agriculteur du produit :</label>
            <select id="input2" class="form-control" name="farmer" [ngModel]="product.farmer">
              <option *ngFor="let f of farmerService.farmers" [ngValue]="f">{{f.name}}</option>
            </select>
          </div>

          <button class="btn btn-primary mt-2" type="submit">Créer</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6" *ngIf="operation === 'edit'">
    <div *ngIf="product" class="card">
      <div class="card-body">
        <h5 class="card-title">Modifier la photo du produit</h5>

        <div *ngIf="errorUpload != null" class="alert alert-danger">
          <span>{{errorUpload}}</span>
        </div>

        <div *ngIf="successUpload" class="alert alert-success">
          <span>{{successUpload}}</span>
        </div>

        <div *ngIf="product.photo" class="text-center mb-3">
          <img class="img-fluid rounded" height="200"
               [src]="this.api.host + '/p12-stock/public/product/' + product.id + '/photo' + '?ts=' + timeStamp" alt="">
        </div>
        <div *ngIf="!product.photo" class="text-center mb-3">
          <img height="200" class="img-fluid rounded" src="../../assets/img/340719-200.png" alt="">
        </div>

        <div class="custom-file overflow-hidden">
          <input type="file" class="custom-file-input" id="exampleInputFile" (change)="onSelectedFile($event)">
          <label class="custom-file-label" for="exampleInputFile">
            <span *ngIf="currentFileUpload == null">Choisir un fichier...</span>
            <span *ngIf="currentFileUpload != null">{{currentFileUpload.name}}</span>
          </label>
        </div>

        <div class="progress mt-2" *ngIf="progress != 0">
          <div [ngStyle]="{'width': progress + '%'}" class="progress-bar" role="progressbar"
               attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}} %
          </div>
        </div>

        <button class="btn btn-primary mt-4" (click)="uploadPhoto()">Modifier</button>
      </div>
    </div>
  </div>

  <div class="col-6 offset-3" *ngIf="operation === 'details' && product">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Détails du produit</h5>
        <div *ngIf="product.photo" class="text-center mb-3">
          <img class="img-fluid rounded" height="200"
               [src]="this.api.host + '/p12-stock/public/product/' + product.id + '/photo'" alt="">
        </div>
        <div *ngIf="!product.photo" class="text-center mb-3">
          <img class="img-fluid rounded" height="200" src="../../assets/img/340719-200.png" alt="">
        </div>
        <h6 class="card-subtitle text-muted mt-1">Nom du produit</h6>
        <p class="card-text m-2 font-weight-bold">{{product.name}}</p>
        <h6 class="card-subtitle text-muted mt-1">Capacité</h6>
        <p class="card-text m-2">{{product.capacity | number:'0.0-2'}} {{product.measure}}</p>
        <h6 class="card-subtitle text-muted mt-1">Description du produit</h6>
        <p class="card-text m-2">{{product.description}}</p>
        <h6 class="card-subtitle text-muted mt-1">Prix</h6>
        <p class="card-text m-2" *ngIf="!product.promotion">{{product.price | number:'0.2'}}</p>
        <p class="card-text m-2" *ngIf="product.promotion">
          <del>{{product.oldPrice | number:'0.2'}}</del>
          {{product.price | number:'0.2'}} <span class="badge badge-success m-1">En promotion !</span></p>
        <h6 class="card-subtitle text-muted mt-1">Disponibilité</h6>
        <p *ngIf="product.available" class="card-text m-2"><span class="badge badge-success">En stock !</span></p>
        <p *ngIf="!product.available" class="card-text m-2"><span
          class="badge badge-warning">Produit indisponible</span></p>
        <h6 class="card-subtitle text-muted mt-1">Catégorie</h6>
        <p class="card-text m-2">{{product.category.name}}</p>

        <div *ngIf="product.available">
          <h5 class="card-title">Ajouté au panier</h5>
          <form #f="ngForm" (ngSubmit)="caddyService.addProductToCaddy(product)">
            <div class="form-group">
              <label>Quantité : </label>
              <input type="number" required class="form-control" min="1" max="10" [(ngModel)]="product.orderQuantity"
                     name="orderQuantity">
            </div>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Commander</button>
          </form>
        </div>
      </div>

    </div>

  </div>

</div>
