<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit product</h5>
        <form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">

          <div *ngIf="errorUpdate != null" class="alert alert-danger">
            <span>{{errorUpdate}}</span>
          </div>

          <div *ngIf="successUpdate" class="alert alert-success">
            <span>Mise à jour réussi !</span>
          </div>

          <div class="form-group">
            <label>Product Name : </label>
            <input type="text" required class="form-control" formControlName="name">
          </div>

          <div class="form-group">
            <label>Product price : </label>
            <input type="number" required class="form-control" formControlName="price">
          </div>

          <div class="form-group">
            <label>Product promotionPrice : </label>
            <input type="number" required class="form-control" formControlName="promotionPrice">
          </div>

          <div class="form-group">
            <label>Product stock : </label>
            <input type="number" required class="form-control" formControlName="quantity">
          </div>

          <div class="form-group">
            <label>Product capacity : </label>
            <input type="number" required class="form-control" formControlName="capacity">
          </div>

          <button class="btn btn-primary mt-2" [disabled]="productForm.invalid" type="submit">Save</button>
        </form>
      </div>
    </div>

    <div *ngIf="product" class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Edit product photo</h5>

        <div *ngIf="errorUpload != null" class="alert alert-danger">
          <span>{{errorUpload}}</span>
        </div>

        <div *ngIf="successUpload" class="alert alert-success">
          <span>Mise à jour réussi !</span>
        </div>

        <div class="text-center">
          <img height="100" src="{{this.api.host + '/p12-stock/public/product/photo/' + product.id + '?ts=' + timeStamp}}" alt="" class="mb-3">
        </div>

        <div class="custom-file overflow-hidden">
          <input type="file" class="custom-file-input" id="exampleInputFile" (change)="onSelectedFile($event)">
          <label class="custom-file-label" for="exampleInputFile">
            <span *ngIf="currentFileUpload == null">Choisir un fichier...</span>
            <span *ngIf="currentFileUpload != null">{{currentFileUpload.name}}</span>
          </label>
        </div>

        <div class="progress mt-2" *ngIf="progress != 0">
          <div [ngStyle]="{'width': progress + '%'}" class="progress-bar" role="progressbar" attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}} %</div>
        </div>

        <button class="btn btn-primary mt-4" (click)="uploadPhoto()">Upload</button>
      </div>
    </div>
  </div>
</div>
