<div class="row">
  <div class="col-md-6 offset-sm-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">À-propos de nous</h4>
        <h5 class="card-title">Adresse</h5>
        <p class="card-text">1234 rue de la paix 69005 Lyon</p>
        <h5 class="card-title">Horaires</h5>
        <p class="card-text">De 8h à 20h</p>
        <h5 class="card-title">Fermeture</h5>
        <p class="card-text">Le samedi et les jours fériés</p>
        <h5 class="card-title">Téléphone</h5>
        <p class="card-text">08-98-56-45-87</p>
        <h5 class="card-title">Email</h5>
        <p class="card-text">panier.garni@association.com</p>
      </div>
    </div>
  </div>
</div>
