<div class="row justify-content-center my-3">
  <h3>{{title}}</h3>
</div>
<!-- ------PHILTRE------- -->
<div class="collapse" id="collapseFilter">
  <form #f="ngForm" (ngSubmit)="onSearchByPhiltre(f.value)">
    <div class="form-row">
      <div class="form-group col-lg-2">
        <label for="inputState">Taille de la page :</label>
        <select id="inputState" class="form-control" name="size" [ngModel]="size">
          <option *ngFor="let s of listSize" [ngValue]="s" [selected]="size == s">{{s}}</option>
        </select>
      </div>
      <div class="form-group col-lg-2">
        <label for="inputState1">Trié par :</label>
        <select id="inputState1" class="form-control" name="filter" [ngModel]="filter">
          <option *ngFor="let s of listFilter" [ngValue]="s" [selected]="filter == s">{{s}}</option>
        </select>
      </div>
      <div class="form-group col-lg-2">
        <label for="inputState2">Recherche par nom</label>
        <input id="inputState2" type="search" ngModel name="searchByName" class="form-control">
      </div>
      <div class="form-group col-lg-2 col-6">
        <label for="inputState3">Prix minimum</label>
        <input id="inputState3" type="number" ngModel name="searchMinPrice" class="form-control">
      </div>
      <div class="form-group col-lg-2 col-6">
        <label for="inputState4">Prix maximum</label>
        <input id="inputState4" type="number" ngModel name="searchMaxPrice" class="form-control">
      </div>
    </div>
    <div class="form-row ml-1">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" ngModel name="searchAvailable" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Uniquement produit disponible</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>
</div>


  <button class="btn btn-success mt-1" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
    Recherche avancée
  </button>



<div *ngIf="products && products.totalElements != 0">

  <!-- ------PRODUCTS DISPLAY------- -->

  <div class="row">
    <div class="col-md-6" *ngFor="let p of products.content">
      <div class="card my-3">
        <div class="card-header"><span class="font-weight-bold">{{p.name}}</span>
          - {{p.capacity | number:'0.0-2'}} {{p.measure}}</div>
        <div class="card-body">
          <div *ngIf="p.photo" class="text-center mb-3">
            <img height="200" class="img-fluid rounded"
                 [src]="this.api.host + '/p12-stock/public/product/photo/' + p.id" alt="">
          </div>
          <div *ngIf="!p.photo" class="text-center mb-3">
            <img height="200" class="img-fluid rounded" src="../../assets/img/340719-200.png" alt="">
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h6 class="card-subtitle text-muted mt-1">Prix</h6>
              <p class="card-text m-2" *ngIf="!p.promotion">{{p.price | number:'0.2'}}</p>
              <p class="card-text m-2" *ngIf="p.promotion">
                <del>{{p.oldPrice | number:'0.2'}}</del>
                <span class="mx-2">{{p.price | number:'0.2'}}</span><span
                class="badge badge-success">En promotion !</span></p>
              <h6 class="card-subtitle text-muted mt-1">Disponibilité</h6>
              <p *ngIf="p.available" class="card-text m-2"><span class="badge badge-success">En stock !</span></p>
              <p *ngIf="!p.available" class="card-text m-2"><span
                class="badge badge-warning">Produit indisponible</span>
              </p>
              <h6 class="card-subtitle text-muted mt-1">Categorie</h6>
              <p class="card-text m-2">{{p.category.name}}</p>
              <a [routerLink]="['/product', p.id]" class="btn btn-info text-white cliquable mt-1">Détails</a>
            </div>

            <div class="col-sm-6 mt-2 mt-sm-0">
              <div *ngIf="p.available">
                <h5 class="card-title mt-1">Ajouté au panier</h5>
                <form #f="ngForm" (ngSubmit)="caddyService.addProductToCaddy(p)">
                  <div class="form-group">
                    <label>Quantité : </label>
                    <input type="number" required class="form-control" min="1" max="10" [(ngModel)]="p.orderQuantity"
                           name="orderQuantity">
                  </div>
                  <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Commander</button>

                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ------PAGINATION------- -->


  <div *ngIf="products.totalPages > 1">
    <ul class="pagination justify-content-center">

      <li class="page-item"
          [ngClass]="products.number == 0 ? 'disabled' : ''"><a
        class="page-link cliquable"
        (click)="checkProductsHome(0, size)">«</a></li>

      <li class="page-item"
          [ngClass]="products.number == 0 ? 'disabled' : ''"><a
        class="page-link cliquable"
        (click)="checkProductsHome(products.number - 1, size)">←</a></li>

      <li class="page-item" *ngFor="let item of [].constructor(products.totalPages); let i = index"
          [ngClass]="products.number == i ? 'active' : ''">
        <a class="page-link cliquable"
           (click)="checkProductsHome( i, size)">{{i + 1}}</a>
      </li>

      <li class="page-item"
          [ngClass]="products.number + 1 == products.totalPages ? 'disabled' : ''">
        <a class="page-link cliquable"
           (click)="checkProductsHome(products.number + 1, size)">→</a>
      </li>

      <li class="page-item"
          [ngClass]="products.number + 1 == products.totalPages ? 'disabled' : ''">
        <a class="page-link cliquable"
           (click)="checkProductsHome(products.totalPages - 1, size)">»</a>
      </li>

    </ul>
  </div>

</div>
<!-- ------PRODUCTS EMPTY------- -->

<div *ngIf="!products || products.totalElements == 0"
     class="justify-content-center row mt-5 font-weight-bold">
  <p>Votre recherche n'à donnée aucun résultat !</p>
</div>
