<div *ngIf="order">

  <div class="row justify-content-center my-3">
    <h3>Commande {{order.reference}}</h3>
  </div>

  <div *ngIf="update" class="row justify-content-center">
    <span class="alert alert-success">Mise à jour réussie !</span>
  </div>

  <div *ngIf="order.cancel" class="row justify-content-center">
    <span class="alert alert-danger">Cette commande a été annulée</span>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Nom</th>
        <th class="text-right">Quantité commandée</th>
        <th class="text-right">Quantité réelle commandée</th>
        <th class="text-right">Prix unitaire</th>
        <th class="text-right">Prix total</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let orderProducts of order.orderProducts">
        <td class="align-middle font-weight-bold" *ngIf="orderProducts.product">{{orderProducts.product.name}}</td>
        <td class="text-right align-middle">{{orderProducts.orderQuantity}}</td>
        <td class="text-right align-middle">{{orderProducts.realQuantity}}</td>
        <td class="text-right align-middle">{{orderProducts.productPrice | number:'0.2'}} €</td>
        <td class="text-right align-middle">{{orderProducts.totalPriceRow | number:'0.2'}} €</td>
        <td class="text-right align-middle">
          <button [routerLink]="['/product', orderProducts.productId]" class="btn btn-info">Détails</button>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold" colspan="4">Total</td>
        <td class="text-right align-middle">{{order.totalPrice |number:'0.2'}} €</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!order.cancel && !authService.isAdmin()" class="row justify-content-center my-3">
    <p>Vous disposez d'une durée de {{maxHourCancel}} heures pour annuler une commande.</p>
  </div>

  <div class="row justify-content-center">
    <button (click)="onCancelOrder()" *ngIf="!order.paid && maxHourCancel && checkCancelOrder() && !order.cancel && !authService.isAdmin()" class="btn btn-danger m-1">Annuler la commande</button>
    <button (click)="onCancelOrderAdmin()" *ngIf="!order.paid && authService.isAdmin()" class="btn btn-danger m-1">Annuler la commande</button>
    <button (click)="onPaidOrder()" *ngIf="!order.cancel && !order.paid && authService.isAdmin()" class="btn btn-success m-1">Régler la commande</button>
  </div>
  <div class="row justify-content-center">
    <button routerLink="/orders" class="btn btn-primary m-1">Revenir à mes commandes</button>
    <button *ngIf="authService.isAdmin()" routerLink="/orders/admin" class="btn btn-primary m-1">Retour à l'administration</button>
  </div>
</div>
